<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fields</key>
	<array>
		<string>First Name</string>
		<string>Last Name</string>
		<string>Email</string>
		<string>Phone Number</string>
	</array>
	<key>First Name</key>
	<string>John</string>
	<key>Last Name</key>
	<string>Doe</string>
	<key>Email</key>
	<string>johndoe@email.com</string>
	<key>Phone Number</key>
	<string>000-000-0000</string>
	<key>Area Code</key>
	<string>000</string>
	<key>Prefix</key>
	<string>000</string>
	<key>Line Number</key>
	<string>0000</string>
</dict>
</plist>
